pkgbase = gitkraken-pro
	pkgdesc = The most popular Git GUI for Arch Linux with Pro features.
	pkgver = 2.6.0
	pkgrel = 3
	url = https://www.gitkraken.com/
	arch = x86_64
	license = custom
	makedepends = nodejs
	makedepends = npm
	makedepends = python2
	depends = gtk2
	depends = nss
	depends = libxtst
	depends = libgnome-keyring
	depends = gconf
	depends = alsa-lib
	depends = libxss
	provides = gitkraken
	provides = gitkraken-pro
	conflicts = gitkraken
	source = gitkraken-pro.sh
	source = gitkraken-pro.sha256
	source = gitkraken.desktop
	source = gitkraken.png
	source = gitkraken.sh
	sha256sums = dc2cb75170a4dd04533333c77325321448af884168816a9c1473375266b83d04
	sha256sums = ae7a4c76d7995fd5d9d2fc36083cf7134efc0a000791932df0e5e44e726a2082
	sha256sums = c001122608370bc43d6cfefd8e217f337a07f544c351179e816983635f8ff45d
	sha256sums = a2b3551f83bcbe56da961615f066bb736cd15d98e41c93b3b4add0d56606d902
	sha256sums = 338a4c72ad0efd9f15d92e12f69872aba3adf832bb8a16ed16decdc5fdca03c3

pkgname = gitkraken-pro

