pkgbase = gitkraken-pro
	pkgdesc = The most popular Git GUI for Arch Linux.
	pkgver = 2.7.0
	pkgrel = 1
	url = https://www.gitkraken.com/
	arch = x86_64
	license = custom
	makedepends = nodejs
	makedepends = npm
	makedepends = python2
	depends = gtk2
	depends = nss
	depends = libxtst
	depends = libgnome-keyring
	depends = gconf
	depends = alsa-lib
	depends = libxss
	provides = gitkraken
	provides = gitkraken-pro
	conflicts = gitkraken
	conflicts = gitkraken-pro
	conflicts = gitkraken-enterprise
	source = gitkraken-pro.sh
	source = gitkraken-pro.sha256
	source = gitkraken.desktop
	source = gitkraken.png
	source = gitkraken.sh
	sha256sums = 0c99e800e757b578d63750d18c915a62e25380ffc2d11fc9cb87ac71a0514e58
	sha256sums = f72258d4ba785c2eae75abd77fd5d504d69e9bce6cf31504042b599b56eb9a6f
	sha256sums = 5b3294331463f7fd983e78f8f54e293d66150b833db164ee1e4137e038846bc4
	sha256sums = a2b3551f83bcbe56da961615f066bb736cd15d98e41c93b3b4add0d56606d902
	sha256sums = e31fefd107a69e9364d28029027ca63de229b744e58b7b1b24a37bf7a29e67e0

pkgname = gitkraken-pro

