pkgbase = gitkraken
	pkgdesc = The intuitive, fast, and beautiful cross-platform Git client.
	pkgver = 2.5.0
	pkgrel = 2
	url = https://www.gitkraken.com/
	arch = x86_64
	license = custom
	makedepends = nodejs
	makedepends = npm
	depends = gtk2
	depends = nss
	depends = libxtst
	depends = libgnome-keyring
	depends = gconf
	depends = alsa-lib
	depends = libxss
	provides = gitkraken
	source = https://release.gitkraken.com/linux/v2.5.0.tar.gz
	source = GitKraken.desktop
	source = gitkraken.png
	source = eula.html
	source = gitkraken.sh
	md5sums = a6dcbb4979b10ea7a865ffa742de8fa2
	md5sums = 55f11789f5a9ee9fc4989d0f06eee260
	md5sums = 04987b933d551d15c0813111d715bb9e
	md5sums = e9ba6663e5f1f92cae31beb0074e8c6c
	md5sums = 6c504da03a5e7068a29a9618aa29a994

pkgname = gitkraken

