pkgbase = gitkraken
	pkgdesc = The intuitive, fast, and beautiful cross-platform Git client.
	pkgver = 12.2.1
	pkgrel = 2
	url = https://www.gitkraken.com/
	arch = x86_64
	arch = aarch64
	license = custom
	depends = nss
	depends = gtk3
	depends = libsecret
	depends = libxkbfile
	optdepends = git-lfs: git-lfs support
	optdepends = org.freedesktop.secrets: Provides ways to store passwords and encryption keys
	provides = gitkraken
	options = !strip
	options = !debug
	source = GitKraken.desktop
	source = gitkraken-url-handler.desktop
	source = gk-cli-url-handler.desktop
	source = eula.html
	sha256sums = 17f8af55ea43dcbe7840f35ed4192be7f13fb6a6c9cd3ef15f686c03bb072aec
	sha256sums = 3d42f9ef0ef05d8d145f2dddecb32db5c5d56f13b8233d5f761f85f92bdd1a4f
	sha256sums = ad4cc27cc6bbb825765eb0c2c2991de14961ac02ff5859799f28cd179d17ada8
	sha256sums = 5b7b39b331bc32a606e1e79c695df4519c9b220225be00fb34ef368c3af319a6
	source_x86_64 = gitkraken-12.2.1-x86_64.tar.gz::https://api.gitkraken.dev/releases/production/linux/x64/12.2.1/gitkraken-amd64.tar.gz
	sha256sums_x86_64 = 939aa5dbffde7e76e8bff922f2b5febdcf01cc037e7770400c49e2523d8f132f
	source_aarch64 = gitkraken-12.2.1-aarch64.tar.gz::https://api.gitkraken.dev/releases/production/linux/arm64/12.2.1/gitkraken-aarch64.tar.gz
	sha256sums_aarch64 = 48c142f9ca2a75a121e881b99fedc08482774d70b27efa09c121128fe325660d

pkgname = gitkraken
