[Desktop Entry]
Name=GitKraken
Comment=Unleash your repo
GenericName=Git Client
Exec=/opt/gitkraken/gitkraken %U
Icon=gitkraken
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Development;RevisionControl;
StartupWMClass=gitkraken
