[Desktop Entry]
Name=GitKraken
Comment=Unleash your repo
Exec=gitkraken %f
Icon=gitkraken
Terminal=false
Type=Application
StartupNotify=true
Categories=GTK;Development;Documentation;
MimeType=text/plain;
